.left-section {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  padding-right: 30px;
}
.right-section {
  width: 35%;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .left-section,
  .right-section {
    width: 100%;
  }
  .left-section {
    margin-bottom: 20px;
  }
}
