header {
  color: #30302f;
  background-color: #f8f9fa;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 1;
  font-size: calc(10px + 2vmin);
  background-color: #fff;
  height: 68px;
  box-shadow: 0 2px 3px 1px rgba(127, 127, 127, 0.3);
  padding: 20px 0px 0px 20px;
  > .app-logo {
    height: 35px;
  }
  > p {
    font-size: 15px;
    margin: 0;
  }
}
